<br>
<h1>Wildstar goes Free to Play <small>news</small></h1>
<h6><small>Kyuba</small></h6>
<br>
<p>*record needle falls of track*</p>
<br>
<p>It would seem as though the trend as of late for MMOs is a Buy to Play (B2P) or Free to Play (F2P) model. With the first year of Wildstar underneath Carbine's belt
	many wonder what this transition will do for the state of the game. While some embrace it as a great way to spark new life into the community, others have taken the more
	doomsayer approach. Lets break down the two views on this announcement and see the valid points of both.
</p>
<hr>
<br>
<h2>The Opportunist</h2>
<br>
<p>
	The opportunist sees Free to Play true to their view as an opportunity for growth and change. They see moving Wildstar to F2P as breaking the levis of a monthly subscription
	and saying, "Welcome to Wildstar! Have an exploding splorg!" Opportunists will usually have more trust and support in what they are standing for than the average meat popsicle. 
	Opportunists may look at F2P as the future of MMOs, seeing this as "rather sooner than later". They would look at it as the the unpredictable future. Could be good, could be bad, 
	could be great.
</p>
<br>
<h5 class="italic"><small>"Opportunists will usually have more trust and support in what they are standing for than the average meat popsicle."</small></h5>
<br>
<p>
	Now this isn't to say that they are not rational. Jumping from a cliff may give you the opportunity to fly, but at the cost of the sudden stop at the bottom. As such they may hold onto
	Wildstar and invest in it more than usual, but will be the last ones to jump off a burning ship. Though if the tide turns in the situation's favor the opportunists are usually the first
	ones to reap the spoils of it.   
</p>
<br>
<hr>
<br>
<h2>The Fence Straddler</h2>
<br>
<p>
	The ones who straddle the fences are the ones that can swing either way, depending on what is the more driving force at any given moment. They can see F2P as an opportuniry for growth, but
	maybe allowing a cesspool of filth in as well. They will see F2P as either turning Wildstar into as an ever expanding Coruscant-style community...or Mos Eisley and everywhere you turn there
	is someone attacking someone. Perhaps this means that there can be more people for low level dungeons and adventures, something that has been a struggle for non-50 players. Maybe it can mean
	that raids will be more persistent and perhaps easier. They may also see it as allowing roleplayers to join an organic community and furthing its growth tenfold. However, they will also see
	the other side of the coin. They may see it as doing adventures and dungeons and getting players who will troll or grief others in the group for their own satisfaction. This can perhaps (though
	in such cases is rare) find its way into raids, where a few people can upsurp an entire raid on its head. They may also see it as allowing an endless amount of roleplay griefers to troll and
	disrupt any roleplay where in World or even on housing plots if set to public. 
</p>