<div class="col-md-12 img-responsive" style="height: 400px; background-image:url(../../Content/Images/Drusera1280.jpg);">
    <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 4.0em; color: white;">WSR <small>wildstar radio news</small></h1>
</div>
