<div class="col-md-12 img-responsive" style="margin-top:60px; height: 400px; background-image:url(../../Content/Images/Drusera1280.jpg);">
    <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 3.0em; color: white;">Wildstar Radio</h1>
</div>
