@*<div class="col-md-12 img-responsive container-fluid" style="margin-top:60px;">
    <img src="~/Content/Images/Drusera1280.jpg" class="img-responsive" alt=""  />
    <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 3.0em; color: white;">Wildstar Radio</h1>
</div>*@
<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="background-color: black;">
        <div class="item active">
            <img alt="First slide" src="~/Content/Images/Drusera1280.jpg" class="img-responsive center-block" style="max-height: 500px;">
            <div class="carousel-caption">
                <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 3.0em; color: white;">Wildstar Radio</h1>
            </div>
        </div>
        <div class="item">
            <img alt="Second slide" src="~/Content/Images/riseofcassian.jpg" class="img-responsive center-block" style="max-height: 500px;">
            <div class="carousel-caption">
                <h3>Caption heading 2</h3>
                <p>Morbi eget libero quis metus consectetur semper.</p>
            </div>
        </div>
        <div class="item">
            <img alt="Third slide" src="http://placehold.it/1200x675&text=Third+slide">
            <div class="carousel-caption">
                <h3>Caption heading 3</h3>
                <p>Suspendisse ullamcorper massa eget eleifend iaculis.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>