        <article>
            <div class="row">
                <div class="col-md-6 col-sm-12" style="margin-top:10px;">
                    <img alt="" class="img-responsive" src="~/Content/Images/subheaderrp.jpg">
                </div>
                <div class="col-md-6 col-sm-12" style="margin-top:10px;">
                    <p style="color: white;">
                        Text goes here.
                    </p>
                </div>
            </div>
        </article>

