@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <div class="col-md-12" style="height: 400px; background-color:aquamarine;">
        <h1 class="text-center">Banner Goes Here</h1>
    </div>
</section>
<br />
<br />
<section class="container">
    <article class="col-md-3 text-center" style="border: 1px solid black;"><h1>Article</h1></article>
    <article class="col-md-3 text-center" style="border: 1px solid black;"><h1>Article</h1></article>
    <article class="col-md-3 text-center" style="border: 1px solid black;"><h1>Article</h1></article>
    <article class="col-md-3 text-center" style="border: 1px solid black;"><h1>Article</h1></article>
</section>
<br />
<br />
<section class="row" style="border: 1px solid black;">
    <section class="col-md-9" style="border: 1px solid black;">
        <article class="text-center" style="height: 200px;">Article</article>
        <article class="text-center" style="height: 200px;">Article</article>
        <article class="text-center" style="height: 200px;">Article</article>
    </section>
    <aside class="col-md-3" style="border: 1px solid black;">
        <section>
            <article>d</article>
            <article>d</article>
            <article>d</article>
        </section>
    </aside>
</section>
