@{
    ViewBag.Title = "Home";
}

<div>
    <section class="row">
        <div class="col-md-12" style="height: 400px; background-image:url(../../Content/Images/Drusera1280.jpg);">
            <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 4.0em; color: white;">WSR <small>wildstar radio news</small></h1>
        </div>
    </section>
    <section class="row" style="background-color:#cccccc;">
        <section class="container" style="padding: 50px 50px 0 50px; margin-bottom: -25px;">
            <article class="col-md-3 col-sm-3 col-xs-6 text-center" style="">
                <div class="inner" style="height: 235px; background-image: url('../../Content/Images/articlepve.jpg'); background-repeat:no-repeat;">
                    <h1 class="wsr-font text-center" style="position:absolute; bottom: 5px;">PVE</h1>
                </div>
            </article>
            <article class="col-md-3 col-sm-3 col-xs-6 text-center" style="">
                <div class="inner" style="height: 235px; background-image: url('../../Content/Images/articlepvp.jpg'); background-repeat:no-repeat;">
                    <h1 class="wsr-font text-center" style="position:absolute; bottom: 5px;">PVP</h1>
                </div>
            </article>
            <article class="col-md-3 col-sm-3 col-xs-6 text-center" style="">
                <div class="inner" style="height: 235px; background-image: url('../../Content/Images/articlerpnew.jpg'); background-repeat:no-repeat;">
                    <h1 class="wsr-font text-center" style="position:absolute; bottom: 5px;">RP</h1>
                </div>
            </article>
            <article class="col-md-3 col-sm-3 col-xs-6 text-center" style="">
                <div class="inner" style="height: 235px; background-image: url('../../Content/Images/articledev.jpg'); background-repeat:no-repeat;">
                    <h1 class="wsr-font text-center" style="position:absolute; bottom: 5px;">DEV</h1>
                </div>
            </article>
        </section>
        <section class="container" style="padding: 75px;">
            <section class="col-md-9">
                <article class="row" style="background-color:white; padding: 25px; margin: 0 10px 0 0;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img src="../../Content/Images/druentitysmall.jpg" alt=""/></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
                <article class="row" style="background-color:white; padding: 25px; margin: 15px 10px 0 0;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img src="../../Content/Images/druentitysmall.jpg" alt="" /></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
                <article class="row" style="background-color:white; padding: 25px; margin: 15px 10px 0 0;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img src="../../Content/Images/druentitysmall.jpg" alt="" /></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
                <article class="row" style="background-color:white; padding: 25px; margin: 15px 10px 0 0;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img src="../../Content/Images/druentitysmall.jpg" alt="" /></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
            </section>
            <aside class="col-md-3" style="background-color: #333333; height: 600px;">
                <section>
                    <article></article>
                    <article></article>
                    <article></article>
                </section>
            </aside>
        </section>

    </section>

</div>
