@{
    ViewBag.Title = "Home";
}

<div>
    <section class="row">
        <div class="col-md-12" style="height: 400px; background-image:url(../../Content/Images/Drusera1280.jpg);">
            <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 4.0em; color: white;">WSR <small>wildstar radio news</small></h1>
        </div>
    </section>
    <section class="row">
        <section class="container" style="padding-top: 50px;">
            <div class="row text-center">
                <article class="col-md-3 col-sm-6 col-xs-12 text-center inner">
                    <img src="~/Content/Images/subheaderinvasion.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center inner">
                    <img src="~/Content/Images/subheaderrp.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center inner">
                    <img src="~/Content/Images/subheaderpvp.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center inner">
                    <img src="~/Content/Images/subheaderdev.jpg" />
                </article>
            </div>
            
        </section>
        <section class="container" style="padding: 75px 50px 50px 50px;">
            <section class="col-md-9 col-sm-9 col-xs-12 main-news-feed" style="padding-right:0;">
                <article class="row">
                    <div class="row col-md-6" style="margin-right: 20px;"><img alt="" src="../../Content/Images/druentitysmall.jpg"></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row" style="margin: 15px 10px 0px 0px; padding: 25px; background-color: white;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img alt="" src="../../Content/Images/druentitysmall.jpg"></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row" style="margin: 15px 10px 0px 0px; padding: 25px; background-color: white;">
                    <div class="row col-md-6" style="margin-right: 20px;"><img alt="" src="../../Content/Images/druentitysmall.jpg"></div>
                    <div class="row col-md-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h2 class="wsr-font">Title Goes Here</h2>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </article>
            </section>
            <aside class="col-md-3 col-sm-3 col-xs-12" style="background-color:#ccc; height:600px;">
                <section>
                    <article></article>
                    <article></article>
                    <article></article>
                </section>
            </aside>
        </section>

    </section>

</div>
