@{
    ViewBag.Title = "Home";
}

<div>
    <section class="row text-center">
        <div class="col-md-12 img-responsive" style="height: 400px; background-image:url(../../Content/Images/Drusera1280.jpg);">
            <h1 class="wsr-font" style="position:absolute; left: 20px; bottom: 5px; font-size: 4.0em; color: white;">WSR <small>wildstar radio news</small></h1>
        </div>
    </section>
    <section class="container body-content">
        <section class="container" style="padding-top: 50px;">
            <div class="row text-center">
                <article class="col-md-3 col-sm-6 col-xs-12 text-center img-responsive">
                    <img src="~/Content/Images/subheaderinvasion.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <img src="~/Content/Images/subheaderrp.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <img src="~/Content/Images/subheaderpvp.jpg" />
                </article>
                <article class="col-md-3 col-sm-6 col-xs-12 text-center">
                    <img src="~/Content/Images/subheaderdev.jpg" />
                </article>
            </div>

        </section>
        <section class="container" style="margin-top:25px; padding-left: 25px;">
            <section class="col-md-9 col-sm-9 col-xs-12 main-news-feed">
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderrp.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderinvasion.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderdev.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderpvp.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderinvasion.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderrp.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderdev.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderpvp.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
                <article class="row">
                    <div class="row col-md-6 col-sm-6 col-xs-6" style="margin-right: 20px;"><img alt="" class="img-responsive" src="~/Content/Images/subheaderrp.jpg"></div>
                    <div class="row col-md-6 col-sm-6 col-xs-6">
                        <h4><small class="wsr-font">15 april 2015</small></h4>
                        <h4>Title Goes Here Test</h4>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac.
                        </p>
                    </div>
                </article>
                <hr>
            </section>
            <aside class="col-md-3 col-sm-3 col-xs-12 inner" style="background-color:#ccc; height:600px;">
                <section>
                    <article></article>
                    <article></article>
                    <article></article>
                </section>
            </aside>
        </section>

    </section>

</div>
